@font-face {
    font-family: 'NanumSquareRound';
    src: url('../assets/fonts/NanumSquareRoundB.ttf') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'NanumSquareRound', sans-serif !important;
}

#root {
    width: 100%;
    height: 100%;
}

body {
    overflow-x: hidden;
}