@mixin buttonStyle($color) {
    all: unset;
    color: $color;
    margin-right: 1rem;

    &:hover {
        cursor: pointer;
        font-weight: bold;
    }
}

.SchoolSearch {
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    align-items: center;

    &-Title {
        margin-top: 1rem;
        margin-bottom: 0.5rem;
    }

    &-Result {
        margin-top: 1rem;
    }

    &-CheckZone {
        margin-top: 1rem;
        text-align: center;
        &-Contents {
            text-align: center;
            font-size: 1.75rem;
            font-weight: bold;
        }

        &-Image {
            width: 90%;
        }
    }

    &-CheckZone {
        margin-top: 1rem;
        text-align: center;
        &-Contents {
            text-align: center;
            font-size: 1.75rem;
        }

        &-Image {
            width: 90%;
        }
    }

    &-SchoolImage {
        width: 30%;
        height: 70%;
    }

    &-SchoolList {
        height: 80vh;
        overflow-y: auto;
        display: grid;
        grid-template-columns: auto auto auto auto;

        & > * {
            margin: 1rem 10px;
        }

        &-Wrapper {
            display: flex;
            display: -webkit-flex;
            justify-content: center;
            flex-direction: column;
            max-height: 300px;
            align-items: center;
            background-color: #dfe4ea;
            padding: 1rem 0;

            & > * {
                margin-bottom: 5px;
            }
        }

        &-Item {
            font-weight: bold;
            font-size: 1.25rem;
            text-align: center;

            &-ButtonZone {
                font-size: 1.5rem;
                margin-top: 2.5px;
                margin-bottom: 5px;
    
                &-Meals {
                    @include buttonStyle(purple);
                }
    
                &-Schedule {
                    @include buttonStyle(teal);
                }
            }
        }
    }

    &-SearchZone {
        outline: none;
        background: none;
        border: 1px solid white;
        padding: 0.5rem 1rem;
        font-size: 1.25rem;
        color: white;
        vertical-align: middle;
        &::placeholder {
            color: white;
        }

        &-Button {
            border: none;
            outline: none;
            vertical-align: middle;
            padding: 9px;
            font-size: 1.5rem;
            display: inline-flex;
            align-items: center;
            background-color: black;
            color: white;
            cursor: pointer;
        }
    }
}