.SchoolSearch {
    width: 100%;
    min-height: 100vh;
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
    background: linear-gradient(to right, #4776E6, rgb(105, 47, 197)) fixed;
    background: -moz-linear-gradient(to right, #4776E6, rgb(105, 47, 197)) fixed;
    background: -webkit-linear-gradient(to right, #4776E6, rgb(105, 47, 197)) fixed;
    background: -o-linear-gradient(to right, #4776E6, rgb(105, 47, 197)) fixed;

    &-LoadingWrapper {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: flex;
        display: -webkit-flex;
        justify-content: center;
        align-items: center;
        background-color: rgba(0, 0, 0, 0.4);
    }

    &-Title {
        margin-top: 1rem;
        margin-bottom: 0.5rem;
    }

    &-Result {
        margin-top: 1rem;
    }

    &-CheckZone {
        margin-top: 1rem;
        text-align: center;
        &-Contents {
            text-align: center;
            font-size: 1.75rem;
            font-weight: bold;
        }

        &-Image {
            width: 90%;
        }
    }

    &-CheckZone {
        margin-top: 1rem;
        text-align: center;
        &-Contents {
            text-align: center;
            font-size: 1.75rem;
        }

        &-Image {
            width: 90%;
        }
    }

    &-SchoolImage {
        width: 30%;
        height: 70%;
    }

    &-SchoolList {
        display: grid;
        grid-template-columns: auto auto auto auto;

        & > * {
            margin: 1rem 10px;
        }

        &-Wrapper {
            display: flex;
            display: -webkit-flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            min-height: 50%;
            max-height: 130%;
            background-color: #dfe4ea;
            border: 1.5px solid #0067bc;
            padding: 1rem 0;
            transition: all 0.2s ease-out;
        }

        &-Item {
            font-weight: bold;
            font-size: 1.25rem;
            text-align: center;

            &-ButtonZone {
                font-size: 1.5rem;
                margin-top: 2.5px;
                margin-bottom: 5px;
    
                &-Meals {
                    all: unset;
                    color: purple;
                    margin-right: 1rem;

                    &:hover {
                        cursor: pointer;
                        font-weight: bold;
                    }
                }
    
                &-Schedule {
                    cursor: pointer;
                    all: unset;
                    color: teal;

                    &:hover {
                        cursor: pointer;
                        font-weight: bold;
                    }
                }
            }
        }
    }

    &-SearchZone {
        outline: none;
        background: none;
        border: 1px solid white;
        padding: 0.5rem 1rem;
        font-size: 1.25rem;
        color: white;
        vertical-align: middle;
        &::placeholder {
            color: white;
        }

        &-Button {
            border: none;
            outline: none;
            vertical-align: middle;
            padding: 9px;
            font-size: 1.5rem;
            display: inline-flex;
            align-items: center;
            background-color: black;
            color: white;
            cursor: pointer;
        }
    }
}